@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .header-link {
  margin-right: 76px;
}

  .header-cont-list{
    display: flex;
gap: 40px;

  }

  .item-link.current::after{
    bottom: -28px;
  }
  
.main-section {
  padding-top: 187px;
  padding-bottom: 188px;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section  {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-2x.jpg);
}}

.main-section > .container {
  max-width: 1158px;
}

  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .about-item-icon {
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
  display: block;
  }

  .item {
    flex-basis: calc((100% - 72px / 4));
  }

  .about-pre-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

  }

  /*------WORK-------*/

  .work {
  padding-bottom: 120px;
  background: #ffffff;
  display: block;
  }

  .work-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
  text-align: center;
}

  .work-list {
  display: flex;
  gap: 24px;
}
/* -------TEAM-------- */
  .team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team > .container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

  .customer {
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.customer> .container{
  width: 1158px;
  padding: 0px 15px;
}

.customer-list {
  display: flex;
  flex-wrap: nowrap;

}

.customer-item {
  width: calc((100% - 120px) / 6);
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container-logo {
  margin-right: 120px;
}

.footer-soc {
  margin-left: 0px;
  margin-right: 80px;
}

.footer-form {
margin-top: 0px;
}

}

